{% extends "quizzDJ/base.html" %}
{% block content %}
<h2>login plz</h2>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Login</button>
</form>
<p>Don't have an account ? <a href="http://127.0.0.1:8000/quizz/register">Create one here !</a></p>

{% endblock %}