{% load static %}
<html>
  <head>
<link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}">
    <title>Quizz app</title>
  </head>
  <body>
    <nav>
      <table>
        <tr>
          <th><a href="http://127.0.0.1:8000/quizz/">home</a></th>
          <th><a href="http://127.0.0.1:8000/quizz/question/1">question</a></th>
          <th><a href="http://127.0.0.1:8000/quizz/explore">explore</a></th>
          <th><a href="http://127.0.0.1:8000/quizz/login">Login</a></th>
          <th><a href="http://127.0.0.1:8000/quizz/logout">Logout</a></th>
        </tr>
      </table>
    </nav>

    {% if user.is_authenticated %}
      <div id="user"> {{user.username}}<br>{{ profil.points }} Points</div>
    {% else %}
      <div id="user"><a href="http://127.0.0.1:8000/quizz/login">login</a></div>
    {% endif %}

    {% block content %}
    {% endblock %}

  </body>
</html>