{% extends "quizzDJ/base.html" %}

{% block content %}


<h2>Explore</h2>

{% for i in img %}
    <img src="/static/source_img/{{i.name}}.jpg" onclick="explore( '{{ i.description}}' )"/>
{% endfor %}


<script>
    function explore(desc="description coming soon") {
        window.alert(desc)
    }
</script>

{% endblock %}