{% extends "quizzDJ/base.html" %}
{% block content %}

<h1>Welcome to my biological quiz app</h1>

<div id="navi">
<a href="http://127.0.0.1:8000/quizz/question/1">Microscopy</a>
<a href="http://127.0.0.1:8000/quizz/question/2">Component</a>
<a href="http://127.0.0.1:8000/quizz/explore">Explore</a>
</div>

{% if user.is_authenticated %}
    <p>Welome {{name}} you have {{ profil.points }} points</p>
{% else %}
    <p>Welome you are a guest ! please login or register !</p>
{% endif %}

{% endblock %}