{% extends "quizzDJ/base.html" %}

{% block content %}

<h2>{{ ask.question }}</h2>
<div>
<img src="/static/source_img/{{img.name}}.jpg"/>
</div>
<br>
<div>
{% for i in rep %}
    {% if i == repv %}
        <button id="vrai" onclick="bonne_rep()">{{ i.answer }}</button>
    {%else%}
        <button id="faux" onclick="mauvaise_rep()">{{ i.answer }}</button>
    {%endif%}
{% endfor %}
</div>

<form id="send" name="send" method="POST">
    {% csrf_token %}
    <input type="hidden" id="stock" name="stock" value={{ profil.points }}>
</form>


<script>
    var count=0
    function bonne_rep() {
        window.alert("Right Answer \n{{img.description}}\n learn more : http://127.0.0.1:8000/quizz/explore");
        count++;
        document.send.stock.value=parseInt(document.send.stock.value)+1;
        document.forms["send"].submit();
    }
    function mauvaise_rep() {
        window.alert("Wrong Answer \n{{img.description}}\n learn more : http://127.0.0.1:8000/quizz/explore");
        document.forms["send"].submit();
    }
</script>

{% endblock %}