h1{
    color: #3498db;
}

h2{
    color:  #aed6f1  ;
}

#navi{
    font-size:30px;
}

a{
    color: #bfc9ca;
    text-decoration: none;
    border:2px solid #bfc9ca;
}

nav{
    background:#3498db;
    border:2px solid black;
}

#user{
    border:2px solid black;
    background:#3498db;
    position: absolute;
    top:10px;
    right:10px;
    text-decoration: none;
}

button{
    color:#283747;
    background:#bfc9ca;
}

body{
    font-family:arial;
    background: #283747 ;
    color:white;
    text-align:center;
}

img{
    max-width:500px;
    max-height:400px;
}
